<%- include('./partials/header.ejs') %>
<div class="container-fluid">
  <div class="row p-3">
    <h1 class="col-6 m-auto text-left">Students</h1>

    <div class="col-6 m-auto text-right">
      <a href="/api/students/form/add" class="bg-success rounded-pill"
        ><i class="fa-solid fa-plus"><span>Add</span></i></a
      >
    </div>
  </div>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Math</th>
          <th scope="col">Physics</th>
          <th scope="col">Chemistry</th>
          <th scope="col">Average</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(el=> { %>
        <tr>
          <td><%= el.name %></td>
          <td><%= el.math %></td>
          <td><%= el.physics %></td>
          <td><%= el.chemistry %></td>
          <td><%= Math.trunc((el.physics + el.math + el.chemistry) / 3) %></td>
          <td>
            <a
              href="/api/students/form/edit/<%= el._id %>"
              class="bg-warning rounded-pill"
              ><i class="fa-solid fa-bullseye"><span>Edit</span></i></a
            >
            <a
              href="/api/students/form/delete/<%= el._id %>"
              class="bg-danger rounded-pill"
              ><i class="fa-solid fa-trash"><span>Delete</span></i></a
            >
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
